/* h1.Parth {
    color: red;
}

     #Parth {
        font-size: 50px;  
    }
 .Container { color: blue;
         font-size: 2pc;
         font-style:italic;
         font-weight: 400;
         text-align: left;
         text-decoration: underline;
         line-height: 30px;
         
          width: and height percentage leva joie  */

         /* background-color:;
        background-image:F:\Full stacke devlpment\Parth For upgrade\HTML WORK\Parth.jpg;     */ */
.main  {
    font-size: 25%;
}